#body
{
  background-color: blueviolet;
  height: 800px;
  text-align: center;
}


.tinystuff
{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


#backArrow, a, #forwardArrow:hover
{
  cursor: pointer;
}


.navLinks
{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
